body {
  background-color: #9aeadd;
  color: #001736;
}

img {
  height: 200px;
}

#solar-destruction,
#shock-destruction,
#mass-destruction {
  color: red;
  font-style: oblique;
}

.header {
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}

.name-results {
  display: none;
  background-color: #ced7e0;
  margin: 30px auto;
  border: 2px solid grey;
  text-align: center;
  width: 250px;
  height: 120px;
  border-radius: 10px;
  padding: 0px;
  position: relative;
}
.name-results:after {
  content: '';
  position: absolute;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: grey #ced7e0 transparent transparent;
  top: 50%;
  left: -20px;
  margin-top: -10px;
}

.col-4 {
  margin-right: 5px;
}

button {
  margin: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #155e89;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}


li a:hover {
  background-color: #104564;
}

#destruction-methods,
#solar-flare,
#IPS,
#CME {
  display: none;
  background-color: #ced7e0;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}