body {
  background-color: rgb(161, 236, 226);
}

img {
  height: 200px;
}

#solar-destruction,
#shock-destruction,
#mass-destruction {
  color: red;
  font-style: oblique;
}

.header {
  margin-bottom: 25px;
  margin-top: 10px;
}

.name-results {
  display: none;
}

button {
  margin: 5px;
}